{% extends "error.html" %}

{% block error_detail %}

<p>SWAN has experienced an error. Please <a href='{{base_url}}spawn?failed'>try again here</a> and contact the system administrator</p>

{% endblock %}

