{% extends "page.html" %}
{% if announcement_spawn %}
  {% set announcement = announcement_spawn %}
{% endif %}

{% block main %}


<div class="container">
  <div class="row">
    <div class="swan-info">
      <div id="swan-loader">
        <div class="loader-circle">
          <img src="{{ static_url('swan/logos/logo_swan_letters.png') }}">
        </div>
        <div class="loader-line-mask">
          <div class="loader-line"></div>
        </div>
        <span class="text" style="display: none">Starting your session</span>
      </div>
    </div>
  </div>
</div>

<form enctype="multipart/form-data" id="spawn_form" action="{{url}}" method="post" role="form">
<div id="configuration-modal" class="modal fade right" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        {% if user and user.admin %}
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        {% endif %}
        <h4 class="modal-title">Configure Environment</h4>
      </div>
      <div class="modal-body">
        {% if error_message %}
        <div class="alert alert-dismissable alert-danger">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <p>{{error_message | safe}}</p>
        </div>
        {% endif %}
        <div id="spawner-options">
          {{spawner_options_form | safe}}
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" id="spawn" value="Start my Session" class="btn btn-default btn-primary size-100">
      </div>
    </div>

  </div>
</div>
</form>

{% endblock %}

{% block script %}
<script type="text/javascript">

require(['jquery', 'bootstrap'], function ($) {

    $('#swan-loader .loader-line-mask').hide();
    $("#spawner-options").find("input, select, textarea, button").addClass("form-control");

    var modal = $('#configuration-modal').modal({
        backdrop: 'static',
        keyboard: false
    });

    $('#spawn').on('click', function () {
        $('#swan-loader .loader-line-mask, #swan-loader .text').show();
        $('#configuration-modal').modal('hide');
        return true;
    });

    modal.on('shown.bs.modal', function () {
        $('#spawn').focus();
    });

});



</script>
{% endblock %}
